<template name="layout">
  <div class="container" style="padding-top:5px;">
    {{> header}}
    {{> errors}}
    <div id="main" class="row">
      {{> yield}}
    </div>
    <!-- remove -->
    <div class="post">
    	<h3>Discover Meteor</h3>
    	<p>This application was created with the purpose of learning the <kbd style='background-color: #bf3e11;'>Meteor</kbd> framework. This application 'Microscope' is based on the book Discover Meteors tutorial application, all extra details where done to learn about Meteor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, eligendi. Reiciendis, officia quae quia voluptates accusamus porro ratione! Soluta tempora, eaque, et laudantium laboriosam eos voluptas. Earum praesentium sed pariatur.</p>
    </div>
    <!-- remove-end -->
  </div>
</template>