<template name="postSubmit">
  <div class="col-md-12">
    <form class="main form">
      <div class="form-group {{errorClass 'url'}}">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input name="url" id="url" type="text" value="" placeholder="Your URL" class="form-control"/>
            <span class="help-block">{{errorMessage 'url'}}</span>
        </div>
      </div>
      <div class="form-group {{errorClass 'title'}}">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
            <span class="help-block">{{errorMessage 'title'}}</span>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
  </div>
</template>