<template name="postsList">
  {{#if error}}
    <p>Error: {{error.message}}</p>
  {{/if}}
  <div class="posts">
    {{#each posts}}
      <div class="col-md-12">{{> postItem}}</div>
      <ul class="comments">
        {{#each comments}}
          <div class="col-md-12">{{> commentItem}}</div>
        {{/each}}
      </ul>
    {{/each}}


    {{#if nextPath}}
      <div class="col-md-12">
        <a class="load-more" href="{{nextPath}}">Load more</a>
      </div>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>