<template name="postPage">
	<div class="col-md-12">{{> postItem}}</div>
	<div class="col-md-12">
		<ul class="comments">
		  {{#each comments}}
		    {{> commentItem}}
		  {{/each}}
		</ul>
	</div>
	<div class="col-md-12">
		{{#if currentUser}}
	    {{> commentSubmit}}
	  {{else}}
	    <p style="color: white;">Please log in to leave a comment.</p>
	  {{/if}}
	</div>
</template>