<template name="commentSubmit">
	<form name="comment" class="comment-form form">
	  <div class="form-group {{errorClass 'body'}}">
      <div class="controls">
        <label for="body">Comment on this post</label>
        <textarea name="body" id="comment-body" class="form-control" rows="3"></textarea>
        <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
	  </div>
	  <button type="submit" class="btn btn-primary">Add Comment</button>
	</form>
</template>