<template name="commentItem">
	<li id="comment-{{_id}}" class="comment" hidden>
    <h4>
      <span class="author">{{author}}</span>
      <span class="date">on {{submittedText}}</span>
    </h4>
    <p>{{body}}</p>
  </li>
</template>